<div class = "container">
    <h3 class = "text-center">Contact Us</h3>
    
    <%= form_for "/contacts" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :comments %>
    <%= f.text_field :comments %>
    
    <%= f.submit 'Submit'%>
    
    <% end %>
    
    <!-- Non Rails way to complete a form field
    <form action="">
      <label>Name</label>
      <input type="text">
      <br>
      <label>Email</label>
      <input type="text">
      <br>
      <label>Comments</label>
      <input type="text">
      <br>
      <input type="submit">
    </form>
    -->
</div>